extends ./layout/mainLayout
block indexContent
  h1 Add Post
  div.small-3.small-offset-3.medium-3.medium-offset-3.large-3.large-offset-3.columns
  div.small-6.medium-6.large-6.columns
    img(src=singlePost.url)
    p HELLO!