doctype
html
  head
    title Gallery
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/styles.css")
  body

    // include files from index.jade
    block indexContent

    script(src="/js/modernizr.js")
    script(src="/js/jquery.js")
    script(src="/js/foundation.min.js")
    script()$(document).foundation()